@model IQueryable<Zvezdichka.Web.Areas.Shopping.Models.CartItemListingViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    decimal totalPrice = 0;
}

<h2>My Cart</h2>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-responsive table-striped">
            <tr>
                <th>
                </th>
                <th>
                    Product details
                </th>
                <th>
                    Qty
                </th>
                <th>
                    Price
                </th>
                <th>
                    Total Price
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.ThumbnailSource" class="img-responsive img-thumbnail" style="max-height: 100px"/>
                    </td>
                    <td>
                        <span class="product-name" name="product-@item.Id">@item.ProductName</span>

                        <div>
                            <a onclick="deleteCartItem('@item.ProductName')"
                               class="btn btn-default col-md-1">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="number" class="form-control" value="@item.Quantity" id="bag-quantity-@item.Id"/>
                        </div>

                        <div>
                            <a class="btn btn-info" onclick="updateBag(@item.Id)">Update bag</a>
                        </div>
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @(item.Price * item.Quantity)
                    </td>
                </tr>

                totalPrice += item.Price * item.Quantity;
            }

        </table>
    </div>
</div>


<h3>Total: @totalPrice</h3>
@*<a asp-controller="Home" asp-action="Checkout" onclick="checkOut()" class="btn btn-success">Checkout</a>*@
<a onclick="checkOut()" class="btn btn-success">Checkout</a>

@section Scripts
{
    <script>
        function checkOut() {
            var products = new Array();
            var productNames = $('.product-name').each(function(index) {
                var nameAttr = $(this).attr('name');
                var productId = nameAttr.substr(nameAttr.indexOf('-') + 1);
                var bagQuantity = $("#bag-quantity-" + productId).val();

                var productName = $(this).text();

                products.push({ name: productName, quantity: bagQuantity });
                console.log(index + ": productId=" + productId + " productName=" + productName);
            });

            console.dir(products);

            $.ajax(
                    {
                        type: "POST",
                        traditional: true,
                        url: "/shopping/home/checkout",
                        contentType: "application/json",
                        data: JSON.stringify(products)
                    })
                .done(function() {
//                    location.reload();
                })
                .fail(function() {
                });
        }

        function updateBag(cartItemId) {
            var newQuantity = $("#bag-quantity-" + cartItemId).val();

            $.ajax(
                    {
                        type: "PUT",
                        traditional: true,
                        url: "/api/cartItems",
                        data: {
                            id: cartItemId,
                            quantity: newQuantity
                        }
                    })
                .done(function() {
                    location.reload();
                })
                .fail(function (resp) {
                    console.dir(resp);
                    addAlert("danger",
                        resp.responseText
                    );
                });
        }

        function deleteCartItem(productName) {
            $.ajax(
                    {
                        type: "DELETE",
                        traditional: true,
                        url: "/api/cartitems",
                        data: ({ productName: productName })
                    })
                .done(function() {
                    location.reload();
                })
                .fail(function() {
                    addAlert("danger", "Error deleting comment");
                });
        }
    </script>

}