@using Zvezdichka.Web.Models.ShoppingViewModels
@model IEnumerable<Zvezdichka.Web.Models.ShoppingViewModels.CartItemViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    decimal totalPrice = 0;
}

<h2>My Cart</h2>

<form asp-area="Shopping" asp-controller="Checkout" asp-action="Index" id="checkOutForm" method="get"></form>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-responsive table-striped">
            <tr>
                <th>
                </th>
                <th>
                    Product details
                </th>
                <th>
                    Qty
                </th>
                <th>
                    Price
                </th>
                <th>
                    Total Price
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.ThumbnailSource" class="img-responsive img-thumbnail" style="max-height: 100px"/>
                    </td>
                    <td>
                        <span class="product-name" name="product-@item.Id">@item.Name</span>

                        <div>
                            <a asp-area="Shopping" asp-controller="Home" asp-action="DeleteCartItem" asp-route-id="@item.Id"class="btn btn-default">
                                <i class="fa fa-trash-o col-md-12" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                    <td class="row">
                        <form asp-area="Shopping" asp-controller="Home" asp-action="UpdateCart" method="post">
                            <div>
                                <input type="number" class="form-control" name="quantity" value="@item.Quantity" id="bag-quantity-@item.Id" class="col-xs-12" />
                            </div>

                            <div>
                                <input type="hidden" name="id" value="@item.Id" />

                                <button type="submit" class="btn btn-info col-xs-12" value="Update bag">Update bag</button>
                            </div>
                        </form>

                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @(item.Price * item.Quantity)
                    </td>
                </tr>

                totalPrice += item.Price * item.Quantity;
            }

        </table>
    </div>
</div>


<h3>Total: @totalPrice</h3>
<button type="submit" class="btn btn-success" form="checkOutForm">Checkout</button>