@using Zvezdichka.Web.Infrastructure.Constants
@model Zvezdichka.Web.Areas.Products.Models.ProductDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="product-container col-xs-12">
        <div class="row">
            <div id="product-images" class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnails-wrapper">
                    <div class="alternate-images col-md-6">
                        @*                    show alternate images*@
                        <ul id="piThumbList" class="col-xs-4 col-sm-12">
                            @foreach (var img in Model.ImageSources)
                            {
                                <li class="col-sm-12">
                                    <img src="@img.Source" class="img-responsive thumbnail-image"/>
                                </li>
                            }
                        </ul>
                    </div>
                    <div id="productImageContainer" class="col-md-6">
                        @*                    show main image*@
                        @if (Model.ImageSources.Count > 0)
                        {
                            <img src="@Model.ImageSources.First().Source" id="main-image" class="img-responsive"/>
                        }
                    </div>
                </div>
            </div>
            <div id="product-alldetails" class="col-xs-12 col-sm-6 col-md-4">
                <div class="col-xs-12 title">
                    <h3>
                        @Model.Name
                    </h3>
                </div>
                <div class="col-xs-12 price">
                    @Model.Price leva.
                </div>
                <div class="col-xs-12 product-details">
                    @Html.Raw(@Model.Description)
                </div>
            </div>
        </div>


    </div>
</div>

<div>

    @if (User.Identity.IsAuthenticated)
    {
        //Shopping
        <div class="form-group row">
            <div class="col-xs-2">
                <input type="number" id="bag-quantity" class="form-control"/>
            </div>
            <div>
                <a class="btn btn-success" onclick="addToCart('@Model.Name')">Add to Cart</a>
            </div>
            <div>
                <a asp-area="Shopping" asp-controller="Home" asp-action="Index" class="btn btn-default">Cart</a>
            </div>
        </div>

        // Comments
        <div class="form-group">
            <label class="control-label">Message:</label>
            <textarea id="message-content" name="message-content"></textarea>
        </div>

        <div class="form-group">
            <a onclick="addComment()" class="btn btn-default">Add Comment</a>
        </div>
    }

    <h3>Comments</h3>
    <table class="table table-responsive table">
        <tr>
            <th>User</th>
            <th>Message</th>
            <th></th>
        </tr>

        @foreach (var comment in Model.Comments)
        {
            <tr>
                <td>
                    @comment.User.UserName
                </td>
                <td>
                    @Html.Raw(comment.Message)
                </td>
                <td>
                    @if (comment.User.UserName == User.Identity.Name)
                    {
                        <a class="btn btn-danger" onclick="deleteComment('@comment.Id')">Remove</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>


<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <a asp-route="@WebConstants.Routes.ProductEdit" asp-route-id="@Model.Id" asp-route-title="@Model.Name">Edit</a>
        @Html.Raw("| ")
    }
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script type="text/javascript">
        addCkEditor("message-content", "comment-form");
    </script>

    <script>
        function addToCart(productName) {
            $.ajax(
                    {
                        type: "GET",
                        traditional: true,
                        url: "Shopping/Home/AddToCart",
                        data: {
                            title: productName,
                            quantity: $('#bag-quantity').val()
                        }
                    })
                .done(function() {
                    alert("Value Added");
                })
                .error(function() {
                    alert("Error adding to shopping cart");
                });
        }

        function addComment() {
            var commentText = CKEDITOR.instances["message-content"].getData();
            console.log(commentText);

            var dataToSend = {
                "Message": commentText,
                "ProductId": @Model.Id,
                "Username": '@User.Identity.Name'
            };

            $.ajax(
                    {
                        type: "POST",
                        traditional: true,
                        url: "api/comments",
                        contentType: "application/json",
                        data: JSON.stringify(dataToSend)
                    })
                .done(function() {
                    alert("Value Added");
                })
                .error(function() {
                    alert("Error adding comments");
                });
        }

        function deleteComment(commentId) {
            $.ajax(
                    {
                        type: "DELETE",
                        traditional: true,
                        url: "api/comments",
                        data: ({ 'id': commentId })
                    })
                .done(function() {
                    alert("Comment deleted");
                })
                .error(function() {
                    alert("Error deleting comment");
                });
        }
    </script>

    <script>
        //a function that changes the main image on hove of some of the thumbnails
        $(document).ready(function() {
            $(".thumbnail-image").hover(
                function() {
                    $(this).addClass("thumbnail-image-hovered");
                    $("#main-image").attr("src", $(this).attr('src'));
                },
                function() {
                    $(this).removeClass("thumbnail-image-hovered");
                }
            );
        });
    </script>
}