@using Zvezdichka.Web.Infrastructure.Constants
@model Zvezdichka.Web.Areas.Products.Models.ProductDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr/>

    @if (Model.ImageSources.Count > 0)
    {
        var all = Model.ImageSources.Select(s => s.Source);
        @(await Html.PartialAsync("ImageCarousel", all))
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.Raw(Model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsInStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsInStock)
        </dd>

        <dd>
            <input type="number" id="bag-quantity" class="form-control"/>
        </dd>
        <dd>
            <a class="btn btn-success" onclick="addToCart('@Model.Name')">Add to Cart AJAX</a>
        </dd>

        <dd>
            <a asp-area="Shopping" asp-controller="Home" asp-action="Index" class="btn btn-default">Cart</a>
        </dd>
    </dl>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="form-group">
            <label class="control-label">Message:</label>
            <textarea id="message-content" name="message-content"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" value="Add comment" onclick="addComment" class="btn btn-default"/>
        </div>
    }

    <h3>Comments</h3>
    <table class="table table-responsive table">
        <tr>
            <th>User</th>
            <th>Message</th>
            <th></th>
        </tr>

        @foreach (var comment in Model.Comments)
        {
            <tr>
                <td>
                    @comment.User.UserName
                </td>
                <td>
                    @comment.Message
                </td>
                <td>
                    @if (comment.User.UserName == User.Identity.Name)
                    {
                        <a class="btn btn-danger" onclick="deleteComment(@comment.Id)">Remove</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>


<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <a asp-route="@WebConstants.Routes.ProductEdit" asp-route-id="@Model.Id" asp-route-title="@Model.Name">Edit</a>
        @Html.Raw("| ")
    }
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script>
        function addToCart(productName) {
            $.ajax(
                    {
                        type: "GET",
                        traditional: true,
                        url: "Shopping/Home/AddToCart",
                        data: {
                            title: productName,
                            quantity: $('#bag-quantity').val()
                        }
                    })
                .done(function() {
                    alert("Value Added");
                })
                .error(function() {
                    alert("Error adding to shopping cart");
                });
        }
    </script>

    <script>
        function addComment() {
            var commentText = $("#message-content").val();

            $.ajax(
                    {
                        type: "POST",
                        traditional: true,
                        url: "Comments/Home/Add",
                        data: {
                            comment: { Message: commentText }
                        }
                    })
                .done(function() {
                    alert("Value Added");
                })
                .error(function() {
                    alert("Error adding comments");
                });
        }

        function deleteComment(commentId) {
            $.ajax(
                    {
                        type: "DELETE",
                        traditional: true,
                        url: "Comments/Home/Delete/" + commentId,

                    })
                .done(function() {
                    alert("Comment deleted");
                })
                .error(function() {
                    alert("Error deleting comments");
                });
        }
    </script>


    <script type="text/javascript">
        addCkEditor("message-content", "comment-form");
    </script>
}