@model Zvezdichka.Web.Areas.Products.Models.ProductDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr/>

    @if (Model.ImageSources.Count > 0)
    {
        var all = Model.ImageSources.Select(s => s.Source);
        @(await Html.PartialAsync("ImageCarousel", all))
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.Raw(Model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsInStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsInStock)
        </dd>

        <dd>
            <input type="number" id="bag-quantity" class="form-control"/>
        </dd>
        <dd>
            @*            TODO: fix hardcoded quantity value*@
            @*            <a asp-area="Shopping" asp-controller="Home" asp-action="AddToCart" asp-route-title="@Model.Name" asp-route-quantity="2" class="btn btn-success" onclick="addToCart()">Add to Cart</a>*@

            <a class="btn btn-success" onclick="addToCart('@Model.Name')">Add to Cart</a>
        </dd>

        <dd>
            <a asp-area="Shopping" asp-controller="Home" asp-action="Index" class="btn btn-default">Cart</a>
        </dd>
    </dl>
</div>

<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        @Html.Raw("| ")
    }
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function addToCart(productName) {

        $.ajax(
            {
                type: "GET",
                traditional: true,
                url: "Shopping/Home/AddToCart",
                data: {
                    title: productName,
                    quantity: $('#bag-quantity').val()
                },
                success: function() {
                    alert("Value Added");
                }, // or any other indication if you want to show
                error: function() {
                    alert("Error adding to shopping cart");
                }
            });
    }
</script>