@using Zvezdichka.Web.Infrastructure.Constants
@model Zvezdichka.Web.Infrastructure.Extensions.Helpers.PaginatedList<Zvezdichka.Web.Areas.Products.Models.ProductListingViewModel>

@{
    ViewData["Title"] = "Index";

    decimal minPrice = 0;
    decimal maxPrice = 0;

    if (Model.Count > 0)
    {
        minPrice = Model.Min(x => x.Price);
        maxPrice = Model.Max(x => x.Price);
    }

}

<h2>Products</h2>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>

<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default">Sort</a>

<div class="container">

    <div id="filterPanel">
        <br/>

        Filter by price interval:
        <b>@minPrice</b>
        <input id="price-slider" type="text" class="span2 slider" value="" data-slider-min="@minPrice" data-slider-max="@maxPrice" data-slider-step="5" data-slider-value="[@minPrice,@maxPrice]" onblur="filterProducts()"/>
        <b>@maxPrice</b>

        <div id="filters"></div>
        <span>Sort by: </span>
        <br/>
        <select id="order-by" onchange="filterProducts()" class="selectpicker" title="Choose one of the following...">
            <option value="@((int) WebConstants.OrderBy.NameAsc)">Name [A-Z]</option>
            <option value="@((int) WebConstants.OrderBy.NameDesc)">Name [Z-A]</option>
            <option value="@((int) WebConstants.OrderBy.PriceAsc)">Price, Ascending</option>
            <option value="@((int) WebConstants.OrderBy.PriceDesc)">Price, Descending</option>
        </select>

        @{
            var categories = Model.SelectMany(x => x.Categories).ToList().Distinct();
        }

        <select id="sort-by-categories" onchange="filterProducts()" class="selectpicker" multiple title="Choose categories...">

            @foreach (var cat in categories)
            {
                <option value="@cat">@cat</option>
            }
        </select>
        <br/>
    </div>

    @*    products grid system*@
    <div class="row text-center text-lg-left">
        @foreach (var item in Model)
        {
            @Html.Partial("ProductColumn", item)
        }
    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>

@for (int i = 1; i <= Model.TotalPages; i++)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@i"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary">
        [@i]
    </a>
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

@section Scripts{
    <script>
        var priceSlider = $("#price-slider").slider({});

        $('.slider').on('blur',
            function() {
                filterProducts();
            });

    </script>

    <script>

        function filterProducts() {
            //get checked categories
            var checkedCategories = $("#sort-by-categories").val();
            var prices = priceSlider.val().split(',');

            var dataToSend = {
                categories: checkedCategories,
                minPrice: prices[0],
                maxPrice: prices[1],
                orderBy: $("#order-by").val()
            };

            $.ajax({
                type: "GET",
                traditional: true,
                url: "api/products",
                contentType: "application/json",
                data: dataToSend,
                success: function(response) {
                    redirectToFilteredProducts(response);
                },
                error: function(err) {
                }
            });
        }

        function redirectToFilteredProducts(filtered) {

            var dataToSend = JSON.stringify(filtered);

        $.ajax({
            type: "POST",
            url: "products",
            traditional: true,
            contentType: 'application/json',
            dataType: 'json',
            data: dataToSend
        }).
            done(function() {
                alert("redirect");
            });
        };

    </script>
}