@model Product

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xss-12">
    <p>
        <a asp-area="Products" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id" asp-route-title="@Model.Name">@Model.Name</a>
    </p>

    <a class="d-block mb-4 h-100" asp-area="Products" asp-controller="Home" asp-action="Details"
       asp-route-id="@Model.Id" asp-route-title="@Model.Name" asp-route-category="@Model.Categories.FirstOrDefault()?.Category.Name">

        <img src="@Model.ImageSource" class="img-fluid img-thumbnail" alt="@Model.Name">

    </a>
    &#36 @Html.DisplayFor(modelItem => Model.Price)

    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        @Html.Raw(" |")
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        @Html.Raw(" |")
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    }
</div>